<div class="container content">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <span class="anchor" id="formLogin"></span>

      <div class="card card-outline-secundary">
        <div class="card-header">
          <h4 class="mb-0">Whishlist</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre>
            </div>
            <div class="form-group">
              <label for="imagenurl">Imagen url</label>
              <input type="text" class="form-control" id="imagenurl" placeholder="Ingresar url..." #url>
            </div>
            <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value,url.value)">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br class="mb-5">

  <div class="">
    <app-destino-viaje *ngFor="let d of destinos" [destino]="d"></app-destino-viaje>
  </div>
</div>
